@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "joystix";
    src: url("../assets/font/joystix.otf");
}

@font-face {
    font-family: "pixelus";
    src: url("../assets/font/pixelus.ttf");
}

@layer base {
    .font-outline-2 {
        text-shadow: -2px -2px 0 white, 2px -2px 0 white, -2px 2px 0 white, 2px 2px 0 white , -2px 0 0 white , 2px 0 0 white;
    }
    .font-outline-4 {
        text-shadow: -8px -8px 0 white, 8px -8px 0 white, -8px 8px 0 white, 8px 8px 0 white , -8px 0 0 white , 8px 0 0 white;
    }
  }



